// colors
$dark-grey  : #3e3e3e;
$black      : #000000;
$grey       : #5a5a5c;

// fonts
$primary-font:   "Arial", sans-serif;
$primary-header:  "Arial", sans-serif;

//$imgPath: "/assets/imgs/site/";
//$imgBgPath: "/assets/imgs/bgs/";
$imgPath: "../imgs/site/";
$imgBgPath: "/";

//$fontPath: "../fonts/";


